{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Secure Page</h1>
<p> From the beginning of time secure pages have guarded our browsers from many an unknown threat
  the unsung heros of our web experience, as while we surf at our pleasure they work tirelessly to ensure
  our experience is a pure and wholesome one. There are rumors however, of a great evil to come on that even
  the most devout and steadfast "Secure Page" will be unable to combat. How shall our web surfers fare then,
  and will they be able to survive the looming darkness.</p>

{% endblock %}
